@import '../../css/root.css';

.header {
  height: $head-height;
  user-select: none;
  width: 100%;
  white-space: nowrap;

  .toolbarIcon {
    display: inline-flex;
    width: $icon-total-size;
    height: $icon-total-size;
    // background-color: #fff;
    // border: $regular-border;
    margin: $gap 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background: none;
    z-index: 200017;
  }

  .toolbarIconDisabled {
    pointer-events: none;

    img {
      opacity: $fade-op;
    }
  }

  .toolbarIcon:not(.toolbarIconDisabled):hover {
    .toolbarIconBg {
      background-color: $hover-grey;
    }

    .iconMenuHolder {
      display: block;
    }
  }

  .toolbarIcon:not(.toolbarIconDisabled, .hasDropdown):active {
    .toolbarIconBg:active {
      background-color: $light-grey;
    }
  }

  .toolbarIcon {
    position: relative;
    margin-left: $gap;
    z-index: 1;

    .toolbarIconBg {
      display: inline-flex;
      background-color: $background-grey; // Default background color
      border-radius: 18px;
      width: 100%;
      height: 100%;
    }
  }

  .toolbarIconBg img {
    display: block;
    width: $icon-size;
    height: $icon-size;
    margin: auto;
    pointer-events: none;
  }

  // .toolbarIconBg .emoji {
  //   font-size: $normal;
  //   margin: auto;
  // }

  .toolbarIcon .iconMenuHolder {
    position: absolute;
    display: none;
    top: calc($icon-total-size / 2);
    left: 0;
    height: fit-content;
    width: $block-width;
    z-index: -1;

    .iconMenu {
      text-align: left;
      margin-top: calc($gap / 2 + $icon-total-size / 2);
      padding: $tiny-gap;
      background-color: #fff;
      box-shadow: $regular-shadow;
      border-radius: $radius;
      // backdrop-filter: blur(3px);
      cursor: default;
    }

    li {
      display: flex;
      text-decoration: none;
      list-style: none;
      font-size: $normal;
      color: $dark-grey;
      padding: $gap;
      border-radius: $tiny-tiny-radius;
      cursor: pointer;
      white-space: nowrap;
      justify-content: space-between;

      &:hover {
        background-color: $hover-grey;
        color: $black;

        .emoji {
          filter: none;
        }

        .shortcutHint {
          color: $near-white;
        }
      }

      &:active {
        background-color: $light-grey;
        color: $black;
      }

      .shortcutHint {
        align-self: center;
        color: $hover-grey;
        font-size: $small;
        // padding-top: 1px;
      }
    }
  }
}
