@import '../../css/root.css';

$tabs-height: 48px;
$section-gap: 60px;
$section-height: 230px;

#tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tabList {
  position: relative;
  height: $tabs-height;
  width: 100%;
  list-style: none;
  white-space: nowrap;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 90000;

  .tab {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    width: 128px;
    font-size: $normal;
    font-weight: $medium;
    line-height: 100%;
    padding: calc(18px - $normal / 2) 0;
    border-collapse: separate;
    border-radius: $radius $radius 0 0;
    color: #fff;
    opacity: $fade-op;
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
  }

  .tab:first-of-type {
    margin-left: 20px;
  }

  .activeTab {
    opacity: 1;
  }
}

#tabContent {
  position: relative;
  width: 100%;
  height: calc(100% - $tabs-height);
  overflow: scroll;

  button {
    margin: 18px auto 54px 20px;
    text-align: center;
    height: 36px;
    width: 77px;
    font-size: $normal;
    font-weight: $medium;
    color: #fff;
    border-radius: $radius;
    user-select: none;
    cursor: pointer;
  }

  button:hover {
    opacity: $hover-op;
  }
}

.section {
  position: relative;
  width: calc(100% - $section-gap);
  min-width: 436px;
  height: $section-height;
  min-height: 150px;
  max-height: 450px;
  margin: 18px auto 0 20px;
  border-radius: $radius;
  white-space: nowrap;

  .blockHolder {
    display: inline-block;
    width: $block-width;
    height: 100%;
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  .codeCanvasHolder {
    position: relative;
    display: inline-block;
    width: calc(100% - $block-width);
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .sectionResizeBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    cursor: ns-resize;
  }
}

.variable,
.variables {
  // Should only be '.variable' for most cases
  background-color: $variable;
}

.function,
.functions {
  background-color: $function;
}

.object,
.objects {
  background-color: $object;
}

.variableSection {
  border: 2px solid color-mod($variable a($fade-op));
}

.functionSection {
  border: 2px solid color-mod($function a($fade-op));
}

.objectSection {
  border: 2px solid color-mod($object a($fade-op));
}
