@import '../../css/root.css';

$head-height: 50px;

.split {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.separator {
  cursor: ew-resize;
  background-color: $background-grey;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
  margin: 0;
  width: $gap;
  user-select: none;
}

#editor-left,
#editor-right {
  min-width: 240px;
  min-height: 240px;
  height: 100%;
}

#editor-left {
  width: 40%; /* Init left width */
}

#editor-right {
  width: 60%;
}

#playground,
#factory {
  position: relative;
  background-color: #fff;
  border-radius: $radius;
  width: calc(100% - $gap);
  overflow: hidden;
}

#playground {
  height: calc(100% - 2 * $gap);
  margin: $gap 0 $gap $gap;
}

#factory {
  height: calc(100% - $head-height - $gap);
  margin: 0 $gap $gap 0;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.17);
  border-radius: $radius;
  pointer-events: none !important;
}

#header {
  height: 50px;
  width: 100%;
}

#logo {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 9px;
  right: $gap;
}
