@import '../../css/root.css';

#tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tabList {
  position: absolute;
  height: 48px;
  width: 100%;
  list-style: none;
  white-space: nowrap;

  .tab {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    width: 128px;
    font-size: $regular;
    line-height: 100%;
    padding: calc(18px - $regular / 2) 0;
    border-collapse: separate;
    border-radius: $radius $radius 0 0;
    color: #fff;
    opacity: 0.3;
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
  }

  .tab:first-of-type {
    margin-left: 20px;
  }

  .activeTab {
    opacity: 1;
  }
}

.variables {
  background-color: $variable;
}

.functions {
  background-color: $function;
}

.objects {
  background-color: $object;
}
