@import '../../css/root.css';

:root {
  --line-height: 110px;
  --line-numbers-width: 32px;
  --block-width: 218px;
}

.codeCanvas {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  overflow: hidden;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.lineNumbers {
  position: absolute;
  width: var(--line-numbers-width);
  top: 0;
  left: 0;
  border-right: 1px solid var(--grey);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.blockHome {
  position: absolute;
  top: 0;
  left: var(--line-numbers-width);
}

.lineNumberRoom {
  position: relative;
  width: var(--line-numbers-width);
  height: var(--line-height);
  box-shadow: 0 1px 0 0 var(--hover-grey);
  text-align: right;
}

.lineNumberRoom p {
  font-size: var(--regular);
  font-weight: var(---medium);
  color: var(--grey);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 3px 2px 0;
}

.blockRoom {
  position: absolute;
  width: var(--block-width);
  height: var(--line-height);
  border-right: 1px solid var(--light-grey);
  /* border-bottom: 1px solid var(--hover-grey);
  box-shadow: 1px 0 0 0 var(--light-grey); */
  box-shadow: 0 1px 0 0 var(--hover-grey); /*Avoid 45 degree border joint*/
}
