@import '../../css/root.css';

@mixin canvas-colors(
  $room-border-right,
  $room-border-bottom,
  $canvas-headers,
  $headers-background,
  $background
) {
  .blockRoom {
    border-right: 1px solid $room-border-right;
    box-shadow: 0 1px 0 0 $room-border-bottom; /* Bottom, avoid 45 degree border joint */
  }

  // TOP
  .blockAlphabets {
    // border-bottom: 1px solid $canvas-headers; // ALL Bottom
    background-color: $headers-background;

    .blockAlphabetRoom {
      // border-right: 1px solid $room-border-right; // IND Right
      border-right: 1px solid $background; // IND Right

      p {
        color: $canvas-headers;
      }
    }
  }

  // SIDE
  .lineNumbers {
    // border-right: 1px solid $canvas-headers; // ALL Right
    background-color: $headers-background;

    .lineNumberRoom {
      // box-shadow: 0 1px 0 0 $room-border-bottom; // IND Bottom
      box-shadow: 0 1px 0 0 $background; // IND Bottom

      p {
        color: $canvas-headers;
      }
    }
  }

  .lineJoint {
    // border: 1px solid $canvas-headers;
    box-shadow: 0 0 0 1px $background;
    background-color: $headers-background;
  }
}

#playground {
  // $room-border-right, $room-border-bottom, $canvas-headers, $headers-background, $background
  @include canvas-colors(
    $background-grey,
    $background-grey,
    $light-grey,
    $near-white,
    #fff
  );
}

#factory {
  @include canvas-colors(
    $dark-white,
    $dark-white,
    $light-grey,
    $dark-white,
    $background-grey
  );
}

.codeCanvas {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}

.lineNumbers {
  // Fixed to left
  position: absolute;
  width: $line-numbers-width;
  top: $block-alphabet-height;
  left: 0;
  z-index: 100000;

  .lineNumberRoom {
    position: relative;
    width: $line-numbers-width;
    height: $line-height;
    text-align: right;

    p {
      font-size: $normal;
      font-weight: $regular;
      position: absolute;
      bottom: 4px;
      right: 4px;
      letter-spacing: -0.02rem;
    }
  }
}

.blockAlphabets {
  // Fixed to top
  position: absolute;
  height: $block-alphabet-height;
  top: 0;
  left: $line-numbers-width;
  white-space: nowrap;
  z-index: 110000;

  .blockAlphabetRoom {
    position: relative;
    display: inline-block;
    width: $block-width;
    height: $block-alphabet-height;
    top: 0;
    text-align: right;

    p {
      font-size: $normal;
      font-weight: $regular;
      position: absolute;
      bottom: 5px;
      right: 6px;
    }
  }
}

.blockHome {
  position: absolute;
  top: $block-alphabet-height;
  left: $line-numbers-width;
  z-index: -1;

  .blockRoom {
    position: absolute;
    width: $block-width;
    height: $line-height;
  }

  .addBlockHint {
    margin-left: calc(($block-width - 176px) / 2);
    margin-top: calc(($line-height - 71px) / 2);
    width: 170px;
    height: 70px;
    padding: 0;
    text-align: center;
    background-color: $hover-grey;
    border-radius: $radius;

    img {
      display: inline-block;
      margin: 16px auto 9px;
      width: $icon-size;
      height: $icon-size;
    }

    p {
      font-size: $small;
      font-weight: $regular;
      letter-spacing: 0.01rem; // * Can we avoid?
      color: #fff;
    }
  }

  .invisible {
    display: none;
  }
}

.lineJoint {
  position: absolute;
  top: 0;
  left: 0;
  border-top: none !important;
  border-left: none !important;
  width: $line-numbers-width;
  height: $block-alphabet-height;
  z-index: 120000;
}
