@import 'root.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;

  font-family: 'Inconsolata', monospace;
  color: $black;
  // letter-spacing: -0.1px; /* For Inconsolata */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $background-grey;
  overflow: hidden;
}

.emoji {
  filter: grayscale(100%);
}

.header {
  height: $head-height;
  user-select: none;
  width: 100%;

  .toolbarIcon {
    display: inline-flex;
    width: $icon-total-width;
    height: $icon-total-height;
    background-color: #fff;
    border-radius: 18px;
    border: $regular-border;
    margin: $gap 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
  }

  .toolbarIcon:hover {
    background-color: $hover-grey;
  }

  .toolbarIcon:active {
    background-color: $light-grey;
  }

  .toolbarIcon {
    margin-left: $gap;
  }

  .toolbarIcon img {
    display: block;
    width: $icon-width;
    height: $icon-height;
    margin: auto;
  }

  .toolbarIcon .emoji {
    font-size: $normal;
    margin: auto;
  }
}

// For all grab and grabbing...
.defaultCursor {
  cursor: default;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.ewResizing {
  cursor: ew-resize;
}

.nodeAdd {
  cursor: copy;
}
