/* Space */
$gap: 6px;
$radius: 5px;
$tiny-radius: 4px;
$tiny-tiny-radius: 3px;

/* Color */
$near-white: #fdfdfd;
$dark-white: #efefef;
$background-grey: #eee;
$hover-grey: #ddd; /* Default wire grey */
$light-grey: #aaa; /* Active grey */
$grey: #777;
$dark-grey: #555;
$black: #333;

$default: #ccc;
$variable: #f7b500;
$function: #50d764;
$object: #44d7b6;
$draw: #e7507b;
$library: #b55bcd;

$alert: #cf1b1b;

/* Opacity */
$light-op: 0.25;
$fade-op: 0.3;
$hover-op: 0.8;

/* Font Weight */
$light: 300;
$regular: 400; /* Not recommended to use */
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* Font Size */
$normal: 1rem; // 16px
$small: 0.875rem; // 14px
$large: 1.2rem;

/* Icons */
$icon-total-width: 36px;
$icon-total-height: 36px;
$icon-width: 18px;
$icon-height: 18px;

$head-height: calc($icon-total-height + 2 * $gap);

/* codeCanvas */
$block-width: 218px;
$line-height: 110px;
$line-numbers-width: 32px;
$block-alphabet-height: 24px;

$node-size: 9px;
$node-border-width: 1px;

$regular-border: 1px solid $hover-grey;
$node-border: $node-border-width solid;
