/* Space */
$gap: 6px;
$radius: 5px;
$tiny-radius: 3px;

/* Color */
$dark-white: #efefef;
$background-grey: #ececec;
$hover-grey: #dadada;
$light-grey: #aaa;
$grey: #777;
$black: #333;

$variable: #f7b500;
$function: #50d764;
$object: #34e4bd;
$draw: #f04979;

/* Opacity */
$fade-op: 0.3;
$hover-op: 0.8;

/* Font Weight */
$light: 300;
$regular: 400; /* Not recommended to use */
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* Font Size */
$regular: 1rem;
$small: 0.8rem;
$large: 1.2rem;

/* Icons */
$icon-total-width: 36px;
$icon-total-height: 36px;
$icon-width: 18px;
$icon-height: 18px;

$head-height: calc($icon-total-height + 2 * $gap);

/* codeCanvas */
$line-height: 110px;
$line-numbers-width: 32px;
$block-alphabet-height: 24px;
$block-width: 218px;
