@import '../../../css/root.css';
@import './constants.css';

$slider-width: 176px;

.blockFill {
  .sliderWidth {
    // For blockList
    width: $slider-width;
  }

  .slider {
    display: block;
    width: $slider-width;
    height: 48px;

    .sliderBox {
      position: relative;
      height: calc(48px - $bottom-height - 3px);
      width: calc(100% - 6px);
      margin: 3px 3px 0 3px;
      background-color: #fff;
      opacity: 1;
      border-radius: $tiny-tiny-radius;
      text-align: left;

      .rangeBelow {
        display: inline-block;
        height: 100%;
        background-color: color-mod($object a($light-op));
        margin: 0 auto 0 0;
      }

      .thumb {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 4px;
        border-left: $dark-grey solid 1px;
      }

      .sliderInput {
        position: absolute;
        width: 100%;
        top: 27px;
        left: 0;
        pointer-events: none;
        opacity: 0;
        // transition: ease-in-out 0.2s;
      }

      .inputBox {
        position: absolute;
        border-radius: $tiny-tiny-radius;
        height: 18px;
        width: 39px;
        background-color: #fff !important;
        text-align: center;
        font-size: $small;
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 1px;
      }

      .current {
        top: -18px;
        border: $dark-grey solid 1px;
        left: calc(50% - 2px);
        transform: translate(-50%, 0);
      }

      .min {
        left: 0;
        border-radius: $tiny-tiny-radius 0 0 $tiny-tiny-radius;
      }

      .step {
        right: 0;
      }

      .stepText {
        position: absolute !important;
        font-size: $small-small;
        text-align: right;
        padding: 4px 0;
        right: calc(39px + 3px);
      }

      .max {
        left: calc(39px + 1px);
        border-radius: 0 $tiny-tiny-radius $tiny-tiny-radius 0;
      }

      .sliderSet {
        height: 16px;
        font-size: $small-small;
        margin: 0;
        top: 1px;
        // border: $light-grey solid 0.5px;
        background-color: color-mod($object blend($black 25%)) !important;
        color: #fff;
      }
    }
  }
}
